services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: postgres_short_links
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "7432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: